@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css?family=Oxygen");
@import url("https://fonts.googleapis.com/css?family=Rubik");

html{
	width: 100%;
	height: 100%;
	font-size: 1rem;
}
body{
	background-color: #222D43;
	margin: 0;
	/* Egg white text*/
	color: #F3F3F3;
	width: 100%;
	height: 100%;
	font-family: Oxygen, Arial;
}

h1, h2, h3, h4, h5, h6{
	font-family: Rubik, Arial;
	letter-spacing: -.025em;
}

a{
	text-decoration: none;
	color: lightblue;
	font-weight: bold;
}

/* *{ */
/* 	outline: 1px solid red; */
/* } */
